header {
  padding: 20px 20px;
  height: 82px;
}

header h2.dica-title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

header img {
  position: absolute;
}

div.body {
  padding: 0 20px;
  height: 457px;
  font-family: 'Nanum Gothic', sans-serif;
}

div.body p {
  height: 72px;
}

div.body div.screenshot img {
  max-width: 610px;
}

div.hashtag {
  color: #EF6857;
  font-style: italic;
  font-size: 17px;
  text-align: right;
  padding: 0 15px 6px
}

footer {
  background: #0F1220;
  color: #fff;
  padding: 25px 15px;
  font-size: 13px;
  overflow: hidden;
}

footer ul {
  float: right;
  margin-bottom: 0;
}

footer ul li {
  list-style-type: none;
  float: left;
  margin-right: 8px;
}

footer ul li i {
  margin-top: 6px;
  font-size: 20px !important;
  margin-right: 5px;
  float: left;
}

footer ul li span {
  margin-top: 7px;
  float: left;
  font-size: 12px;
}

footer img#footer-logo {
  float: left;
  margin-right: 20px;
}

footer section#fabweb {
  float: left;
  margin-top: -18px;
}

footer section#fabweb p {
  padding: 0;
  margin: 0 0 4px 0;
  font-size: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

div.arrow {
  position: absolute;
  top: 450px;
  left: 618px;
  color: #fff;
  font-size: 12px;
  width: 70px;
  text-align: right;
}

div.arrow img {
  max-width: 40px;
}

div.arrow p {
  margin-top: 5px;
}
