body {
  background: #F5F5F8;
}

h1.main-title {
  font-weight: lighter;
  letter-spacing: -1px;
}

div.stage {
  width: 650px;
  height: 650px;
  background: red;
  margin: 0 auto;
  background: #1D2437;
  color: #fff;
}

textarea {
  height: 180px !important;
}
